body{
    background-color: #040404;
}

.ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(#55ddff, #0081b5);
    border-radius: 100%;
    animation: dws-bounce 5s linear infinite, dws-moveRight 25s linear infinite;
}
@keyframes  dws-bounce{
    0% {bottom: 100%; }
    25%{bottom: 0; width: 100px; height: 100px;}
    30%{bottom: 0; width: 110px; height: 50px;}
    35%{bottom: 0; width: 100px; height: 100px;}
    70%{bottom: 100%;}
    100%{bottom: 100%;}
    
}
@keyframes dws-moveRight {
    from {left: 0;}
    to {left: 100%;}
}