body{
    margin:0;
}

div{
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.vert>div{
    margin-top: 250px;
    display: block;
    animation:hor 3s linear infinite;
    animation-direction:normal;
}

.vert{
    animation:ver 0.5s ease-in infinite;
    animation-direction: alternate;
}
hr{
    margin-top: 200px;
    height: 5px;
    animation:hr 3s linear infinite;
    animation-direction:normal;
    }

@keyframes hor {
    0%{
        transform: translateX(0vmin);
        background:red;
    }
    25%{
        transform: translateX(50vmin);
        background:orange;
        
    }
    50%{
        transform: translateX(100vmin);
        background:yellow;
        
    }
    75%{
        transform: translateX(50vmin);
        background:green;
        
    }
    100%{
        transform: translateX(0vmin);
        background:red;
        
    }
}
@keyframes ver {
    0%{
        transform: translateY(0px);
        
    }
    100%{
        transform: translateY(200px);
    }
    
}

@keyframes hr{
    0%{
        background:red;
    }
    25%{
        background:orange;
    }
    50%{
        background:yellow;
    }
    75%{
        background:green;
    }
    100%{
        background:red;
    }
}