html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
}

.container {
    height: 100%;
}

.header {
    height: 10%;
    background-color: #B0C4DE;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 3em;
}

.menu {
    float: left;
    background-color: #FFFACD;
    width: 200px;
    height: 550px;
    margin-right: 20px;
    padding-top: 20px;

}

li {
    margin: 3px;
}

img {
    width: 250px;
    float: left;
    margin-right: 20px;
}

h1 {
    text-align: center;
}
.main {
    text-align: justify;
    margin-right: 20px;
}
.footer {
    position: absolute;
    bottom: 0px;
    background-color: #B0C4DE;
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 5em;
    
}