header div {
    height: 60px;
    background-color: gray;
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
}

.block_one {
    flex-grow: 1;
}

.block_two {
    flex-grow: 2;
}

.block_three {
    flex-grow: 3;
}

header,
footer {
    display: flex;
}

hr {
    margin: 10px;
}

footer div {
    background-color: gray;
    padding: 10px;
    margin: 10px;
}
