body{
      margin: 0;
  }
     
    #first{
        width: 100%;
        background-color: #4dd0e2;
        height: 180px;
        padding: 20px 0px;
    }
    #first>div{
        float: right;
        margin-left: 1%;
    }
    div>div:nth-of-type(5){
        width: 2%;
        background-color: white;
        height: 180px;
    }
    div>div:nth-of-type(4){
        width: 6%;
        background-color: white;
        height: 180px;
    }
    div>div:nth-of-type(3){
        width: 12%;
        background-color: white;
        height: 180px;
    }
    div>div:nth-of-type(2){
        width: 24%;
        background-color: white;
        height: 180px;
    }
    div>div:nth-of-type(1){
        width: 48%;
        background-color: white;
        height: 180px;
        margin-right: 2%;

    }

@media (min-width:640px) and (max-width:1024px) {
    #first{
        height: 380px;
    }
    #first>div{
      float: left;
     }
     div>div:nth-of-type(1){
        width: 97%;
        margin-bottom: 10px;
     }    
     div>div:nth-of-type(2){
        width: 97%;
        margin-bottom: 10px;
        height: 25%;
    }
    div>div:nth-of-type(-n+5):nth-of-type(n+3){
        width: 30%;
        height: 20%;
        margin-bottom: 10px;
        margin-right: 2.3%;
    }
}

 @media (max-width:640px) {
     
    #first{
        width: 100%;
        height: 550px;
    }
    #first>div{
        float: right;
    } 
    div>div:nth-of-type(n){
         width: 100%;
         height: 100px;
         margin-right: 0;
         margin-bottom: 5px;
         float: right;
     }
 }