body {
  margin: 0;
}
.chessTable
{
    height: 80vmin;
    width: 80vmin;
    background-color: #FFF0D4;
}
.chessTable>div {
  width: 10vmin;
  height: 10vmin;
  outline: 1px solid #004747;

  background-repeat: no-repeat;
  float: left;
 
}
.chessTable>div:nth-child(1),:nth-child(3),:nth-child(5),:nth-child(7),:nth-child(10),:nth-child(12),:nth-child(14),:nth-child(16),:nth-child(17),:nth-child(19),:nth-child(21),:nth-child(23),:nth-child(26),:nth-child(28),:nth-child(30),:nth-child(32),:nth-child(33),:nth-child(35),:nth-child(37),:nth-child(39),:nth-child(42),:nth-child(44),:nth-child(46),:nth-child(48),:nth-child(49),:nth-child(51),:nth-child(53),:nth-child(55),:nth-child(58),:nth-child(60),:nth-child(62),:nth-child(64)
{
    background-color: #337E70;
}
.chessTable>div:nth-child(1),:nth-child(8)
{
  background-image: url(chess.png);
  background-position: 41% -6%;
  background-size: 600%
}
.chessTable>div:nth-child(57),:nth-child(64)
{
  background-image: url(chess.png);
  background-position: 41% 110%;
  background-size: 600%
}
.chessTable>div:nth-child(2),:nth-child(7)
{
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 83% -6%;
  }
  .chessTable>div:nth-child(58),:nth-child(63)
{
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 83% 110%;
  }
    .chessTable>div:nth-child(3),:nth-child(6)
{
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 61% -6%;
  }
      .chessTable>div:nth-child(59),:nth-child(62)
{
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 61% 110%;
  }
        .chessTable>div:nth-child(4)
{
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 19% -6%;
  }
          .chessTable>div:nth-child(60)
{
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 19% 110%;
  }
          .chessTable>div:nth-child(5)
  {
  background-image: url(chess.png);
  background-size: 600%;
  background-position: -2% -6%;
  }
            .chessTable>div:nth-child(61)
  {
  background-image: url(chess.png);
  background-size: 600%;
  background-position: -2% 110%;
  }
  .chessTable>div:nth-child(9),:nth-child(11),:nth-child(10),:nth-child(12),:nth-child(13),:nth-child(14),:nth-child(15),:nth-child(16)
  {
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 104% -6%;
  }
    .chessTable>div:nth-child(49),:nth-child(50),:nth-child(51),:nth-child(52),:nth-child(53),:nth-child(54),:nth-child(55),:nth-child(56)
  {
  background-image: url(chess.png);
  background-size: 600%;
  background-position: 104% 110%;
  }