p {
    color: blue;
    font-style: italic;
}

p:nth-of-type(7n+1) {
    font-size: 30px;
    color: black;
    font-style: normal;
    font-weight: bold;
}

p:nth-of-type(7n+2) {
    color: green;
    font-style: normal;
}

p:nth-of-type(7n+3) {
    color: red;
    font-style: normal;
}

p:nth-of-type(7n+4) {
    color: blue;
    font-style: normal;
    text-decoration: underline;
}



@media (min-width:400px) and (max-width:800px) {
    body:hover {
        transform: rotate(180deg);
        transition-duration: 5s;
    }

    p:nth-of-type(1):after {
        content: " >400 && <800";
        display: block;
        position: absolute;
        left: 350px;
        top: 0px;
    }
}

@media (max-width:400px) {
    p:nth-of-type(1):after {
        content: " <400";
        display: block;
        position: absolute;
        top: 0px;
    }
}

@media (min-width:800px) {
    p:nth-of-type(1):after {
        content: " >800";
        display: block;
        position: absolute;
        top: 0px;
    }
}
