* {
    margin: 0;
    padding: 0;
}

label {
    display: none;
    border: 1px solid black;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
}

label:nth-of-type(1) {
    left: 100px;
}

input {
    display: none;
}

label[for="empty"], label[for="color"] {
    display: block;
}

label:nth-of-type(n+3):nth-of-type(-n+8) {
    background-image: url("chess.png");
    background-repeat: no-repeat;
    background-position-y: -2%;
}

label[for="peshka"] {
    background-position-x: 103%;
}

label[for="ladya"] {
    background-position-x: 40%;
}

label[for="horse"] {
    background-position-x: 83%;
}

label[for="elephant"] {
    background-position-x: 61%;
}

label[for="king"] {
    background-position-x: -2%;
}

label[for="queen"] {
    background-position-x: 20%;
}

input[type="radio"]:nth-of-type(2):checked ~ label[for="peshka"] {
    display: block;
}

input[type="radio"]:nth-of-type(3):checked ~ label[for="ladya"] {
    display: block;
}

input[type="radio"]:nth-of-type(4):checked ~ label[for="horse"] {
    display: block;
}

input[type="radio"]:nth-of-type(5):checked ~ label[for="elephant"] {
    display: block;
}

input[type="radio"]:nth-of-type(6):checked ~ label[for="king"] {
    display: block;
}

input[type="radio"]:nth-of-type(7):checked ~ label[for="queen"] {
    display: block;
}

input[type="radio"]:nth-of-type(8):checked ~ label[for="empty"] {
    display: block;
}

input[type="checkbox"]:checked ~ label:nth-of-type(n+3):nth-of-type(-n+8) {
    background-position-y: 104%;
}