.fd {
    height:100px;
    background:linear-gradient(#f00, #fa0, #ff0, #0f0, #aaf, #00f, #f0f);
}

.f1 {
    height:100px;
    width: 100%; 
    background:linear-gradient(to right, #f00 14%, #fa0 14%,28%, #ff0 28%,42%, #0f0 42%,56%, #aaf 56%,70%, #00f 70%,84%, #f0f 84%);
}

