table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    min-width: 320px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.hello {
    width: 97%;
    height: 30px;
    background-color: PowderBlue;
    color: darkblue;
    text-align: center;
}

.menu_sports {
    width: 96px;
    height: auto;
    background-color: khaki;
    color: darkblue;
    text-align: left;
    vertical-align: text-top;
}

.col_sports {
    width: 300px;
}

ul>h4 {
    color: black;
    text-align: left;
}

h2 {
    text-align: center;
}

img {
    width: 165px;
    height: auto;
    float: left;
    margin-right: 3%;
    padding-bottom: 5%;
}

.infa {
    width: 69%;
    height: auto;
    padding: 4% 4% 4% 3%;
}

.foot {
    width: 97%;
    height: 40px;
    background-color: PowderBlue;
    color: darkblue;
    text-align: center;
}
