* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* Screen width 640-1024 px */

.container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    
}
.header,
.footer{
    width: 87%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    margin-top: 20px;
     border-bottom: 1px solid grey;
    }

.header::after {
    clear: both;
    content: '';
    display: table;
}

.header > div {
    background-color: darkgrey;
    float: left;
    height: 90px;padding-left: 6px;
    padding-top: 6px;
}

.header > div:nth-of-type(1) {
    width: 13%;
}

.header > div:nth-of-type(2) {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 29%;
}

.header > div:nth-of-type(3) {
    width: 53%;
}

.line {
    height: 2px;
    border-bottom: 1px solid darkgrey;
    margin-top: 15px;
    clear: left;
}

aside, section.section {
  float: left;
    margin-top: 15px;
    margin-bottom: 14px;
}

section.section::after {
    content: '';
    clear: both;
    display: table;
}

aside {
    margin-left: 6.50%;
    width: 15%;
    margin-right: 2%;
    overflow: hidden;
    transition: height 0.7s;
    padding-left: 3px;
    padding-top: 6px;
}

aside div {
    background-color: darkgrey;
    width: 100%;
}

aside div:first-child {
    height: 286px;
}

aside div:last-child {
    height: 114px;
    margin-top: 144px;
}

.section {
    width: 70%;
    margin-right: 6.50%;
    border-bottom: 1px solid grey;
    
}

.section > section > div {
    background-color: lightgrey;
}

.section> section {
    width: 100%;
}

.section1 > div {
    width: 100%;
    height: 180px;
}

.section2 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.section2 > div {
    float: left;
    width: 17.50%;
  height: 130px;
}

.section2 > div:not(:nth-child(5)) {
    margin-right: 3.1%;
}

.section2 > div:nth-last-child(-n+2) {
    margin-top: 18px;
}

.section2::after {
    content: '';
    display: block;
    clear: both;
}

.section3 > div {
    height: 166px;
    width: 49%;
    float: left;
}

.section3 > div:first-child {
    margin-right: 2%;
}

.footer {
    margin-top: 14px;
    margin-bottom: 20px;
}

.footer::after {
    content: '';
    clear: both;
    display: table;
}

section.footer > div {
 background-color: darkgrey;
    float: left;
}

section.footer > div:nth-child(1),
section.footer > div:nth-child(2)
{
    width: 33%;
    height: 150px;
    margin-right: 1%;
}

section.footer > div:nth-child(3),
section.footer > div:last-child
{
    width: 32%;
    height: 65px;
}

section.footer > div:last-child {
    margin-top: 20px;
}

section.footer > div:last-child::after {
    content: '';
  clear: both;
    display: table;
}


@media screen and (min-width: 320px) and (max-width: 640px) {
    
.header > div:nth-of-type(2),
.footer>div:nth-of-type(1),
.footer>div:nth-of-type(2),
.footer>div:nth-of-type(3)
{
   display: none;}
   
       .container {
        width: 98%;
        margin: 0 auto;
    }

    .container {
        position: relative;
    }

    .header,
    .footer
     { width: 100%;
    }

    aside, section{
        float: none;
        width: 100%;
        margin-left: 0;
    }

    aside > div:last-child {
        position: fixed;
        top: 100px;
        height: 250px;
        left: 0;
        opacity: 0.8;
    }

      aside {
        background-color: darkgrey;
        position: relative;
        height: 45px;
    }
    aside > div:first-child {
      height: 30px;
  }

    div.header > div:nth-of-type(2) {
      display: none;
    }
    div.header > div, .section2 > div, .section3 > div {
        float: none;
      width: 100%;
    }

    div.header > div:first-child, div.header > div:last-child {
        width: 100%;
  }

    div.header > div:last-child {
        margin-top: 15px;
    }

    div.header, div.container {
        margin-top: 0;
    }

    section.section {
        width: 100%;
        margin-right: 0;
  }

    section.section > section > div {
        margin-bottom: 12px;
    }

    section.footer {
        width: 100%;
    }

    section.footer > div:not(:last-child) {
        display: none;
    }
    section.footer > div:last-child {
        width: 100%;
        margin-top: 0;
    }
#menu{position: absolute;
       top:11vmin;
       display: none;
            }
     aside >#menu:checked ~ label:nth-of-type(1) {
                display: block;
     }
  aside>label>ul>li:nth-of-type(n) {
                        margin-right: 4vmin;
                        padding: 1vmin;
                     float: left;
                 }
   aside>label>ul {
                        width: 80%;
                        max-width:100%;
                        height: 10vmin;
                        max-height: 10vmin;
                        padding: 0px;
                       padding-left: 20%;
                    }
                    
            aside>#menu ~ label:nth-of-type(2) {
                       position: absolute;
                       display: block;
                       left: 8px;
                       top: 14vh;
                       width: 7%;
                       height: 7vmin;
                       border: 1px solid #fff;
                       border-radius: 50px;
                       transition-duration:1s;
                       }
              aside>#menu:checked ~ label:nth-of-type(2) {
                   transition-duration:1s;
                    transform: rotate(90deg);
            }   
            aside>#menu:checked ~ label:nth-of-type(1) {
               
                transition-duration:1s;
                left:-110%;
                
            }
            aside>#menu ~ label:nth-of-type(1){
                width:100%;
                height: 10vmin;
                position: relative;
                display: block;
                transition-duration:1s;
                left:0px;
            }
            }                       

@media screen and (min-width: 640px) and (max-width: 1024px) {
       .container {
           max-width: 1024px;
       }
}

@media screen and (min-width: 1024px) {

    aside, section.section {
        float: none;
        width: 87%;
        margin: 0 auto;
    }

    aside {
        margin-bottom: 20px;
    }

    aside div:last-child {
        margin-top: 10px;
    }

    aside div:first-child {
        height: 40px;
    }
   #menu ~ label:nth-of-type(1){
                height: 10vmin;
                position: relative;
                display: block;
                transition-duration:1s;
            left:0px;}
                 aside>label>ul>li:nth-of-type(n) {
                    margin-right: 4vmin;
                        padding: 1vmin;
                     float: left;
                 }
                    aside>label>ul {
                        width: 80%;
                        max-width:100%;
                        height: 10vmin;
                        max-height: 10vmin;
                        padding: 0px;
                       padding-left: 20%;
                       margin-bottom: 1vmin;
                    }
    
    section.section {
        margin-bottom: 20px;
    }
    .container {
        max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {

  .container {
        width: 1200px;
  }
        
}
    
