/*Приоритеты*/

/*0001*/ p {
  font-family: verdana;
}

/*0002*/ div p {
  font-family: monospace;
}

/*0002*/ div h2 {
  font-style: italic;
}

/*0001,
0001*/ p, h2 {
  color: green;
}

/*0002,
0002*/ div h2, div p {
  color: blue;
}

/*0100*/ #test * {
  text-decoration: underline;
}

/*0101*/ #test p {
  outline: 1px solid red;
}

/*0010*/ .test {
  color: black;
}

/*0011*/ p.test {
  font-style: italic;
}

/*0021*/ .hello p.test {
  font-weight: bold;
}

/*0022*/ div.hello p.test {
  font-weight: normal;
}

/*0020*/ .test.hello {
  color: red;
}

/*0021*/ p.test.hello {
  text-transform: uppercase;
}

/*0031*/ h2.test.hello.eee {
  color: red;
}

/*0030*/ p a[href] {
  outline: 1px solid blue;
}

/*0103*/ #test + p + p + p {
  background-color: yellow;
}

/*0100*/ #test ~ * {
  font-size: 23px;
}