label:nth-of-type(n+1) {
    display: inline-block;
    height: 50px;
    width: 50px;
    
    float: left;
    margin:5px;
}
label:nth-of-type(1){
    border:1px solid green;
}

label:nth-of-type(2){
    margin-top: -13px;
}

input[type=radio],
input[type=checkbox]{
    display: none;
}

#color:checked~label:nth-of-type(n+2){
    background-position-y: 100%;
}

#example:checked~[for=peshka],
#peshka:checked~[for=ladia],
#ladia:checked~[for=konb],
#konb:checked~[for=slon],
#slon:checked~[for=king],
#king:checked~[for=ferz],
#ferz:checked~[for=example] {
    background-image: url(slack-imgs.png);
    background-size: 650%;
    background-repeat: no-repeat;
    margin-top: -13px;
    position:relative ;
    border: 1px solid green;
    
}

#example:checked~[for=peshka] {
    background-position: 103% 0%;
    left: -62px;
    top: 0px;
    border:none;
    border: 1px solid green;
    
}

#peshka:checked~[for=ladia] {
    background-position: 41% 0%;
    left: -124px;
     top: 0px;
    border: 1px solid green;
}

#ladia:checked~[for=konb] {
    background-position: 82% 0%;
    left: -184px;
     top: 0px;
    border: 1px solid green;
}

#konb:checked~[for=slon] {
    background-position: 61% 0%;
    left: -244px;
     top: 0px;
    border: 1px solid green;
}

#slon:checked~[for=king] {
    background-position: -1% 0%;
    left: -300px;
     top: 0px;
    border: 1px solid green;
}

#king:checked~[for=ferz] {
    background-position: 19% 0%;
    left: -352px;
     top: 0px;
    border: 1px solid green;
}

#ferz:checked~[for=example] {
     top: 0px;
    background:none;
    border: 1px solid green;
}

label:nth-of-type(n+2){
    background-position: -100% ;
    transition: 2S;
    position: relative;
    margin-top: -13px;

}

label:nth-of-type(n+3){
    top: -150px;
}
