.table {
    width: 96vmin;
}

.table>div>div {
    width: 12vmin;
    height: 12vmin;
    border: 2px solid #000;
    box-sizing: border-box;
    float: left;
}

.table>div:nth-of-type(2n)>div:nth-of-type(2n-1) {
    background-color: #8b4513;

}

.table>div:nth-of-type(2n-1)>div:nth-of-type(2n) {
    background-color: #8b4513;
}

._2>div:nth-of-type(1n)>div {                               /*пешка ч*/
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  103% 0%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._1>div:nth-of-type(1)>div,                                 /*ладья ч*/
._1>div:nth-of-type(8)>div{
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  41% 0%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._1>div:nth-of-type(2)>div,                                 /*конь ч*/
._1>div:nth-of-type(7)>div{
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  82% 0%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._1>div:nth-of-type(3)>div,                                 /*слон ч*/
._1>div:nth-of-type(6)>div{
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  61% 0%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._1>div:nth-of-type(4)>div {                                  /*ферзь ч*/
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  19.5% 0%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._1>div:nth-of-type(5)>div {                                  /*король ч*/
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  -1.5% 0%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._7>div:nth-of-type(1n)>div {                                 /*пешка б*/
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  103% 103%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._8>div:nth-of-type(1)>div,                                 /*ладья б*/
._8>div:nth-of-type(8)>div{
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  41% 103%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._8>div:nth-of-type(2)>div,                                 /*конь б*/
._8>div:nth-of-type(7)>div{
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  82% 103%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}


._8>div:nth-of-type(3)>div,                                 /*слон б*/
._8>div:nth-of-type(6)>div{
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  61% 103%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._8>div:nth-of-type(4)>div {                                  /*ферзь б*/
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  19.5% 103%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}

._8>div:nth-of-type(5)>div {                                  /*король б*/
    background: url(slack-imgs.png);
    background-repeat: no-repeat;
    background-position:  -1.5% 103%;
    background-size: 75vmin;
    height: 100%;
    width:100%;
}