body {
    margin: 8px auto;
    padding: 30px ;
}

input {
    display: none;
}

.pins > label {
    border-radius: 50%;
    padding: 5px 15px;
    margin: 5px;
    background-color: white;
    position: relative;
    top: -50px;
    left: 95px;
    opacity: 0.2;
}

label.prevSlide {
    
    padding: 10px;
    background-color: white;
    margin: 10px;
    position: relative;
    top: -150px;
    left: -400px;
    opacity: 0.3;
}

label.nextSlide {
    padding: 10px;
    background-color: white;
    position: relative;
    top: -150px;
    left: -100px;
    opacity: 0.3;
}

.slide {
    display: none;
}

#one:checked~#slider>.slide:nth-child(1) {
    display: block;
}

#two:checked~#slider>.slide:nth-child(2) {
    display: block;
}

#three:checked~#slider>.slide:nth-child(3) {
    display: block;
}

#four:checked~#slider>.slide:nth-child(4) {
    display: block;
}

#five:checked~#slider>.slide:nth-child(5) {
    display: block;
}

.pins>label:checked {
    background-color: yellow;
}

pins>label:after,
#one:checked~#slider>.pins>label:nth-of-type(1),
#two:checked~#slider>.pins>label:nth-of-type(2),
#three:checked~#slider>.pins>label:nth-of-type(3),
#four:checked~#slider>.pins>label:nth-of-type(4),
#five:checked~#slider>.pins>label:nth-of-type(5) {
   background: white;
   opacity: 0.5;
}
