body {
    background-color: #0999a0;
    margin: 0;
}

.main {
    position: relative;
    height: 80vmin;
    width: 100vmin;
    position: relative;
    top: 10vmin;
    left: 20vmin;
    border: 3px solid black;
}

.red {
    position: absolute;
    height: 16vmin;
    width: 20vmin;
    top: 5vmin;
    left: 10vmin;
    border: 3px solid black;
    background-color: red;
}

.blue {
    position: absolute;
    height: 43vmin;
    width: 20vmin;
    top: 30vmin;
    left: 10vmin;
    border: 3px solid black;
    background-color: blue;
}

.green {
    position: absolute;
    top: 5vmin;
    left: 38vmin;
    height: 43vmin;
    width: 55vmin;
    border: 3px solid black;
    background-color: green;
}


.yellow {
    position: absolute;
    top: 56vmin;
    left: 38vmin;
    height: 17vmin;
    width: 55vmin;
    border: 3px solid black;
    background-color: yellow;
}
