body {
    margin: 0;
}

.chessTable {
    width: 100vmin;
    height: 100vmin;
    border: 1px solid black;
}

.chessTable div {
    float: left;
    height: 12.5vmin;
    width: 12.5vmin;
    outline: 1px solid black;
}

.chessTable div:nth-child(2),
.chessTable div:nth-child(4),
.chessTable div:nth-child(6),
.chessTable div:nth-child(8),
.chessTable div:nth-child(9),
.chessTable div:nth-child(11),
.chessTable div:nth-child(13),
.chessTable div:nth-child(15),
.chessTable div:nth-child(18),
.chessTable div:nth-child(20),
.chessTable div:nth-child(22),
.chessTable div:nth-child(24),
.chessTable div:nth-child(25),
.chessTable div:nth-child(27),
.chessTable div:nth-child(29),
.chessTable div:nth-child(31),
.chessTable div:nth-child(34),
.chessTable div:nth-child(36),
.chessTable div:nth-child(38),
.chessTable div:nth-child(40),
.chessTable div:nth-child(41),
.chessTable div:nth-child(43),
.chessTable div:nth-child(45),
.chessTable div:nth-child(47),
.chessTable div:nth-child(50),
.chessTable div:nth-child(52),
.chessTable div:nth-child(54),
.chessTable div:nth-child(56),
.chessTable div:nth-child(57),
.chessTable div:nth-child(59),
.chessTable div:nth-child(61),
.chessTable div:nth-child(63) {
    background-color: #b34700;

}

.chessTable>div:nth-child(1),
.chessTable>div:nth-child(8) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 40% 2%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(2),
.chessTable>div:nth-child(7) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 83% 2%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(3),
.chessTable>div:nth-child(6) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 61% 0%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(4) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 19% 0%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(5) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: -1% -2%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(9),
.chessTable>div:nth-child(10),
.chessTable>div:nth-child(11),
.chessTable>div:nth-child(12),
.chessTable>div:nth-child(13),
.chessTable>div:nth-child(14),
.chessTable>div:nth-child(15),
.chessTable>div:nth-child(16) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 104% 2%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(57),
.chessTable>:nth-child(64) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 40% 103%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(58),
.chessTable>:nth-child(63) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 83% 103%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(59),
.chessTable>:nth-child(62) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 61% 103%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(60) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 20% 100%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(61) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: -1% 98%;
    background-size: 75vmin;
}

.chessTable>div:nth-child(49),
.chessTable>div:nth-child(50),
.chessTable>div:nth-child(51),
.chessTable>div:nth-child(52),
.chessTable>div:nth-child(53),
.chessTable>div:nth-child(54),
.chessTable>div:nth-child(55),
.chessTable>div:nth-child(56) {
    background-image: url('chess.png');
    background-repeat: no-repeat;
    background-position: 104% 103%;
    background-size: 75vmin;
}