body{
    margin: 0px;
}

.slide,
input {
    display: none;
}

.slide {
    position: relative;
}

#one:checked~#slider>.slide:nth-child(1),
#two:checked~#slider>.slide:nth-child(2),
#three:checked~#slider>.slide:nth-child(3),
#four:checked~#slider>.slide:nth-child(4),
#five:checked~#slider>.slide:nth-child(5) {
    display: block;
}

.pins>label {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 50px;
}

.pins>label:after,
#one:checked~#slider>.pins>label:nth-of-type(1),
#two:checked~#slider>.pins>label:nth-of-type(2),
#three:checked~#slider>.pins>label:nth-of-type(3),
#four:checked~#slider>.pins>label:nth-of-type(4),
#five:checked~#slider>.pins>label:nth-of-type(5) {
    background: black;
}

.prevSlide {
    width: 20px;
    border-top: 20px solid transparent;
    border-right: 40px solid red;
    border-bottom: 20px solid transparent;
    display: inline-block;
    position: absolute;
    top: 140px;
    left: -10px;
}

.nextSlide {
    display: inline-block;
    width: 20px;
    border: 20px solid transparent;
    border-left: 40px solid red;
    position: absolute;
    top: 140px;
    left: 400px;
}

#slider {
    max-width: 100vmin;
    min-height: 100vmin;
    margin-left: auto;
    margin-right: auto;
}

