body {
    margin: 0;
    padding: 0;
    width: 1600px;
    height: 750px;
}

.ball {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #D2691E;
    border-radius: 100%;
    background: blue;
    animation: up 3s linear infinite, line 12s linear infinite;
}

@keyframes up {
    0% {
        bottom: 100%;
        background: red;
    }
    25% {
        bottom: 0%;
        width: 100px;
        height: 100px;
        background: yellow;
    }
    30% {
        bottom: 0%;
        width: 140px;
        height: 70px;
        background: black;
    }
    35% {
        bottom: 0%;
        width: 100px;
        height: 100px;
        background: green;
    }
    70% {
        bottom: 100%;
        background: grey;
    }
    100% {
        bottom: 100%;
    }
}

@keyframes line {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}