p /* 1 tag 0001 */ {
  font-family: verdana; 
}


div p /* 2 tags 0002 */ {
  font-family: monospace; 
}


div h2 /* 2 tags 0002 */ {
  font-style: italic; 
}


p, h2 /* 1 tag 0001, 1 tag 0001 */ {
  color: green; 
}


div h2, div p /* 2 tags 0002, 2 tags 0002 */ {
  color: blue; 
}


#test * /* 1 id 0100 */ {
  text-decoration: underline; 
}


#test p /* 1 id 1 tag 0101 */ {
  outline: 1px solid red; 
}


.test /* 1 class 0010 */ {
  color: black; 
}


p.test /* 1 tag 1 class 0011 */ {
  font-style: italic; 
}


.hello p.test /* 1 tag 2 classes 0021 */ {
  font-weight: bold; 
}


div.hello p.test /* 2 tags 2 classes 0022 */ {
  font-weight: normal; 
}


.test.hello /* 2 classes 0020 */ {
  color: red; 
}


p.test.hello /* 1 tag 2 classes 0021 */ { 
  text-transform: uppercase; 
}


h2.test.hello.eee /* 1 tag 3 classes 0031 */ {
  color: red; 
}


p a[href] /* 2 tags 1 attr 0012 */ {
  outline: 1px solid blue; 
}


#test + p + p + p /* 1 id 3 tags 0103 */ {
  background-color: yellow; 
}


#test ~ * /* 1 id 0100 */ {
  font-size: 23px; 
}

