p {
    font-family: Verdana;
}

div p {
    font-family: monospace;
}

div h2 {
    font-style: italic;
}

p, h2 {
    color: green;
}

div > h2, div > p {
    color: blue;
}

#test {
    text-decoration: underline;
}

#test > p {
    border: 1px solid red;
}

.test {
    color: #000;
}

p.test {
    font-style: italic;
}

.hello p.test {
    font-weight: bold;
}

div.hello p.test {
    font-weight: normal;
}

.test.hello {
    color: red;
}

p.test.hello {
    text-transform: uppercase;
}

h2.test.hello.eee {
    color: red;
}

p > a[href] {
    border: 1px solid blue;
}

#test + p + p {
    background-color: yellow;
}

#test ~ * {
    font-size: 23px;
}