* {
    color: orange!important;
}

p {
  font-family: verdana;
}

/* 1 tag 0001 */

div p {
  font-family: monospace;
}

/* 2 tags 0002 */

div h2 {
  font-style: italic;
}

/* 2 tags 0002 */

p, h2 {
  color: green;
}

/* 1 tags 0001, 1 tags 0001 */

div h2, div p {
  color: blue;
}

/* 2 tags 0002, 2 tags 0002 */

#test * {
  text-decoration: underline;
}

/* 1 id 0100 */

#test p {
  outline: 1px solid red;
}

/* 1 id 1 tag 0101 */

.test {
  color: black;
}

/* 1 class 0010 */

p.test {
  font-style: italic;
}

/* 1 tag 1 class 0011 */

.hello p.test {
  font-weight: bold;
}

/* 1 tag 2 classes 0021 */

div.hello p.test {
  font-weight: normal;
}

/* 2 tags 2 classes 0022 */

.test.hello {
  color: red;
}

/* 2 classes 0020 */

p.test.hello {
  text-transform: uppercase;
}

/* 1 tag 2 classes 0021 */


h2.test.hello.eee {
  color: red;
}

/* 1 tag 3 classes 0031 */

p a[href] {
  outline: 1px solid blue;
}

/* 2 tags 1 attr 0012 */

#test + p + p + p {
  background-color: yellow;
}

/* 1 id 3 tags 0103 */

#test ~ * {
  font-size: 23px;
}

/* 1 id 0100 */