body {
    margin: 8;
    font-family: sans-serif;
}

table {
    width: 700px;
}

.table-head {
    
    padding: 10px;
    text-align: center;
    background-color: #b3cce6;
    
}

.menu {
    
    padding: 5px;
    position: static;
    background-color: #ffff99;
    font-size: small;
}

a:hover {
    background-color: #808000;
    opacity: 0.5;
}

.content {
    width: 200vmin;
    height: 50vmin;
    
}

img {
    float: left;
    margin: 15px;
}

p {
    margin: 10px;
}

.table-foot {
    
    padding: 10px;
    text-align: center;
    background-color: #b3cce6;
    clear: both;
}