body {
    margin: 0;
}


.chessTable>div {
    border: 1px solid black;
    height: 12vmin;
    width: 12vmin;
    box-sizing: border-box;

}

.chessTable>div:nth-of-type(8n) {
    left: 0vmin;
    height: 96vmin position: absolute;
}

.chessTable>div:nth-of-type(8n-1) {
    left: 12vmin;
    position: absolute;
}

.chessTable>div:nth-of-type(8n-2) {
    left: 24vmin;
    position: absolute;
}

.chessTable>div:nth-of-type(8n-3) {
    left: 36vmin;
    position: absolute;
}

.chessTable>div:nth-of-type(8n-4) {
    left: 48vmin;
    position: absolute;
}

.chessTable>div:nth-of-type(8n-5) {
    left: 60vmin;
    position: absolute;
}

.chessTable>div:nth-of-type(8n-6) {
    left: 72vmin;
    position: absolute;
}

.chessTable>div:nth-of-type(8n-7) {
    left: 84vmin;
    position: absolute;
}

.chessTable div:nth-child(n+1):nth-child(-n+8):nth-child(even),
.chessTable div:nth-child(n+17):nth-child(-n+24):nth-child(even),
.chessTable div:nth-child(n+33):nth-child(-n+40):nth-child(even),
.chessTable div:nth-child(n+49):nth-child(-n+56):nth-child(even) {
    background: #8b4513;
}

.chessTable div:nth-child(n+9):nth-child(-n+16):nth-child(odd),
.chessTable div:nth-child(n+25):nth-child(-n+32):nth-child(odd),
.chessTable div:nth-child(n+41):nth-child(-n+48):nth-child(odd),
.chessTable div:nth-child(n+57):nth-child(-n+64):nth-child(odd) {
    background: #8b4513;

}


.chessTable div:nth-child(n+9):nth-child(-n+16),
.chessTable div:nth-child(n+9):nth-child(-n+16):nth-child(odd) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 103% 0%;
}

.chessTable div:nth-child(n+8):nth-child(-n+8):nth-child(even),
.chessTable div:nth-child(1) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 41% 0%;
}

.chessTable div:nth-child(n+2):nth-child(-n+2):nth-child(even),
.chessTable div:nth-child(7) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 82% 0%;
}

.chessTable div:nth-child(n+6):nth-child(-n+6):nth-child(even),
.chessTable div:nth-child(3) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 61% 0%;
}

.chessTable div:nth-child(n+4):nth-child(-n+4):nth-child(even) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 19.5% 0%;
}

.chessTable div:nth-child(5) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: -1.5% 0%;
}




.chessTable div:nth-child(n+49):nth-child(-n+56):nth-child(even),
.chessTable div:nth-child(n+49):nth-child(-n+56) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 103% 0%;
}

.chessTable div:nth-child(n+57):nth-child(-n+57):nth-child(odd),
.chessTable div:nth-child(64) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 41% 0%;
}

.chessTable div:nth-child(n+63):nth-child(-n+63):nth-child(odd),
.chessTable div:nth-child(58) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 82% 0%;
}

.chessTable div:nth-child(n+59):nth-child(-n+59):nth-child(odd),
.chessTable div:nth-child(62) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 61% 0%;
}

.chessTable div:nth-child(n+61):nth-child(-n+61):nth-child(odd) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: -1.5% 0%;
}

.chessTable div:nth-child(60) {
    background-image: url(slack-imgs.png);
    background-size: 75vmin;
    background-repeat: no-repeat;
    background-position: 19.5% 0%;
}
