body{
    margin: 0;
}

div{
    float: left;
    transition: 1s;
}

div:nth-of-type(3n){
    float: none;
}

@media (min-width:500px) and (max-width:1000px){
div:nth-of-type(6),
div:nth-of-type(8),
div:nth-of-type(11),
div:nth-of-type(12){
    transform: translateX(-0.5em)
}
div:nth-of-type(5),
div:nth-of-type(7),
div:nth-of-type(14),
div:nth-of-type(13){
    transform: translateX(0.5em)
}
div:nth-of-type(10),
div:nth-of-type(16){
    transform: translateX(1em)
}
div:nth-of-type(15),
div:nth-of-type(18){
    transform: translateX(-1em);
}
div{
    transition: 2s;
}
}