@media (min-width: 400px) and (max-width: 800px) {
    body {
        margin-left: 10px;
        padding: 0px;
        width: 500px;
        text-align: justify;
        transition: all 0.5s;
    }
    
    body:hover {
        transform: rotate(-180deg);
    }

    p:nth-of-type(-n+4) {
        text-align: center;
    }

    p:nth-of-type(n+8):nth-of-type(-n+11) {
        text-align: center;
    }

    p:nth-of-type(n+15):nth-of-type(-n+18) {
        text-align: center;
    }


}
