div {
    float: left;
    padding: 20px;
    font-size: 200%;
    transition: all 2s;
}

div:nth-of-type(3n+4) {
    clear: left;
}

@media (min-width: 400px) and (max-width: 800px) {
    div:nth-of-type(5),
    div:nth-of-type(7),
    div:nth-of-type(13),
    div:nth-of-type(14) {
        transform: translateX(55px);
        transition: all 2s;
    }

    div:nth-of-type(10),
    div:nth-of-type(16) {
        transform: translateX(110px);
        transition: all 2s;
    }

    div:nth-of-type(6),
    div:nth-of-type(8),
    div:nth-of-type(11),
    div:nth-of-type(12) {
        transform: translateX(-55px);
        transition: all 2s;
    }

    div:nth-of-type(15),
    div:nth-of-type(18) {
        transform: translateX(-110px);
        transition: all 2s;
    }
}
