* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide-one,
.slide-two,
.slide-three,
.slide-four,
.slide-five,
input {
    display: none;
}

section.slide-one,
section.slide-two,
section.slide-three,
section.slide-four,
section.slide-five {
    position: relative;
    width: 800px;
    height: 400px;
}

.input-one:checked~div.slider>.slide-one,
.input-two:checked~div.slider>.slide-two,
.input-three:checked~div.slider>.slide-three,
.input-four:checked~div.slider>.slide-four,
.input-five:checked~div.slider>.slide-five {
    display: block;
}

div.pins label.pins__one,
div.pins label.pins__two,
div.pins label.pins__three,
div.pins label.pins__four,
div.pins label.pins__five {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #696969;
    cursor: pointer;
    border-radius: 50%;
    margin: 3px;
    margin-left: 100px;
}

.pins>label:after,
.input-one:checked~div.slider>.pins>label.pins__one,
.input-two:checked~div.slider>.pins>label.pins__two,
.input-three:checked~div.slider>.pins>label.pins__three,
.input-four:checked~div.slider>.pins>label.pins__four,
.input-five:checked~div.slider>.pins>label.pins__five {
    background: black;
}

label.slide__prevSlide {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 100px;
    top: 150px;
    left: 20px;
    background-color: #696969;
}

label.slide__nextSlide {
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 100px;
    top: 150px;
    left: 765px;
    background-color: #696969;
}

div.slider {
    max-width: 130vmin;
    min-height: 100vmin;
    margin-left: auto;
    margin-right: auto;
}

label.slide__prevSlide::after {
    content: "<";
    color: black;
    font-weight: bold;
    font-size: 26px;
    position: absolute;
    top: 35px;
    left: 0px
}

label.slide__nextSlide::after {
    content: ">";
    color: black;
    font-weight: bold;
    font-size: 26px;
    position: absolute;
    top: 35px;
    left: 0px;
}
