* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Times, Sans-Serif;
    font-size: 20px;
}

body {
    background-color: #f3f3f3;
}

.main-container {
    position: relative;
    background-color: #fff;
    width: 220px;
    height: 220px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.calendar-container, .selector-prev, .selector-next, p {
    position: absolute;
}

.calendar-container {
    width: 200px;
    height: 200px;
    top: 10px;
    left: 10px;
    background-color: #e3e3e3;
    border-radius: 5px 5px 0 0;
}

.header {
    height: 40px;
    background-color: #246f4c;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 8px 0;
}

.month-year-selector {
    height: 30px;
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 4px 0;
}

.selector-prev, .selector-next {
    width: 20px;
    height: 20px;
    border: 10px solid #246f4c;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.selector-prev {
    border-left-color: transparent;
}

.selector-next {
    border-right-color: transparent;
    right: 0;
}

p {
    font-family: Arial, Sans-Serif;
    font-size: 65%;
    color: #fff;
    width: 100%;
    margin-top: 3px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 4px;
    width: 13.70%;
    font-size: 70%;
    color: #a1a1a1;
    text-align: right;
}

ul li:nth-of-type(-n+3) {
    color: #000;
}

li.item-active {
    color: #fff;
    background-color: #246f4c;
}