
._1{
    height:93px;
    width:103px;
    background-color: #777777;
}

._2{
    height:93px;
    width:240px;
    background-color: #777777;
}

._3{
    height:93px;
    width:438;
    background-color: #777777;
}
._6 {
width:158px;
height:287;
text-align: center;
vertical-align: top;
background-color: #777777;
}