body {
    padding: 0px;
    margin: 0px;
}

.VsiaTable {
    max-width: 100vmin;
    min-height: 100vmin;
}

ul {
    display: none;
}

.hapka {
    margin-top: 3vmin;
    margin-left: 6vmin;
}

.liniya {
    border-bottom: 1px solid grey;
    margin-left: 6vmin;
    width: 84vmin;
    display: inline-block;
}

._1 {
    background: grey;
    width: 10vmin;
    height: 9vmin;
    display: inline-block;
    margin-right: 2vmin;
}

._2 {
    background: grey;
    width: 23.7vmin;
    height: 9vmin;
    display: inline-block;
    margin-right: 2vmin;
}

._3 {
    background: grey;
    width: 43.7vmin;
    height: 9vmin;
    display: inline-block;
    margin-right: 2vmin;
    margin-top: 2vmin;
}

._4 {
    background-color: grey;
    width: 15.6vmin;
    height: 28.6vmin;
    margin-left: 6vmin;
    display: inline-block;
}

._4>div {    
    display: none}

._5 {
    background-color: silver;
    width: 64.3vmin;
    height: 17.6vmin;
    float: right;
    margin-right: 11vmin;
}

.rightmiddle {
    width: 64.3vmin;
    height: 26vmin;
    float: right;
    margin-right: 10vmin;
    margin-top: -10vmin;
}

._6 {
    background-color: silver;
    width: 10.8vmin;
    height: 12vmin;
    float: left;
    margin-right: 2vmin;
    margin-top: 1vmin;
}

.leftmiddle {
    margin-top: 18vmin;
    height: 18vmin;
}

._7 {
    background: grey;
    display: inline-block;
    width: 15.6vmin;
    height: 10vmin;
    margin-left: 6vmin;
    margin-right: 2vmin;
}

._8 {
    background: silver;
    display: inline-block;
    width: 31.5vmin;
    height: 17vmin;
    margin-right: 1.6vmin;
}

._9 {
    background: silver;
    display: inline-block;
    width: 31.5vmin;
    height: 17vmin;
}

.bottom {
    margin-top: 14px;
    margin-bottom: 20px;
    margin-left: 20px;

}

div.bottom>div {
    background-color: darkgrey;
    float: left;
    margin-left: 20px;
}

div.bottom>div:nth-child(1),
div.bottom>div:nth-child(2) {
    width: 28%;
    height: 100px;
}

div.bottom>div:nth-child(3),
div.bottom>div:last-child {
    width: 24%;
    height: 40px;
}

div.bottom>div:last-child {
    margin-top: 20px;
}

@media (min-width:320px) and (max-width:640px) {

    body {
        width: 50vmin;
        height: auto;
        margin: 0px;
        padding: 0px;
    }

    div._2,
    div._10,
    div._11,
    div._12 {
        display: none;
    }

    .hapka {
        width: 50vmin;
        margin-bottom: -2vmin;
    }

    ._1 {
        width: 100%;
        background: grey;
        height: 9vmin;
    }

    ._3 {
        background: grey;
        width: 100%;
        height: 9vmin;
        margin-top: 0vmin;
    }

    .liniya {
        width: 100%;
        border-bottom: 2px solid grey;
        margin-left: 6vmin;
        display: inline-block;
    }

    ._4 {
        background-color: grey;
        width: 100%;
        height: 6vmin;
        margin-left: 6vmin;
        position: relative;
    }

    ._5 {
        background-color: silver;
        width: 100%;
        height: 17.6vmin;
        margin-left: 6vmin;
        margin-right: -6vmin;
    }

    .rightmiddle {
        width: 100%;
        margin-left: 6vmin;
        margin-right: 0vmin;
        margin-top: 0vmin;
    }

    div.rightmiddle>div {
        width: 100%;
        background-color: silver;
        height: 12vmin;
        margin-left: 6vmin;
    }

    .leftmiddle {
        width: 100%;
        margin-top: 110vmin;
        height: 18vmin;
        margin-left: 6vmin;
        margin-right: 0vmin;
    }

    ._7 {
        background: grey;
        width: 100%;
        height: 10vmin;
        margin-left: 0vmin;
        margin-right: 2vmin;
    }

    ._8 {
        background: silver;
        display: inline-block;
        width: 100%;
        height: 17vmin;
    }

    ._9 {
        background: silver;
        width: 100%;
        height: 17vmin;
    }

    .liniya_2 {
        width: 100%;
        border-bottom: 2px solid grey;
        margin-left: 6vmin;
        display: inline-block;
        margin-top: 28vmin;
    }

    div.bottom {
        width: 100%;
        margin-left: 3vmin;
        margin-top: -5px;
    }

    div.bottom>div:nth-child(3),
    div.bottom>div:last-child {
        margin-top: 5px;
        width: 100%;
        margin-left: 20px;
    }

    .mainmenubtn {
        background-color: silver;
        color: #1CA261;
        border: none;
        cursor: pointer;
        padding: 10px;
        margin-top: 0px;
    }

    ._4 {
        position: relative;
        display: inline-block;
    }

    .dropdown-child {
        display: none;
        background-color: #AED8FC;
        min-width: 200px;
    }

    .dropdown-child a {
        color: #2E2E3B;
        padding: 10px;
        text-decoration: none;
        display: block;
    }

    ._4:hover .dropdown-child {
        display: block;
    }
    #menu {
        position: absolute;
        top: 11vmin;
        display: none;
    }
    #menu:checked~label:nth-of-type(1) {
        display: block;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

}
