html {
	background: #278A89;

}

.border {
	position: relative;
	width: 96vmin;
	height: 76vmin;
	margin-top: 10vmin;
	margin-left: auto;
	margin-right: auto;
	outline: 4px solid black;
}

.border>div {
	position: absolute;
	outline: 4px solid #000;
}

.red {
	background-color: #F80E23;
	width: 20%;
	height: 15%;
	top: 10%;
	left: 10%;
}

.blue {
	background-color: #0036F8;
	width: 20%;
	height: 55%;
	top: 35%;
	left: 10%;
}

.green {
	background-color: #257D20;
	width: 50%;
	height: 55%;
	top: 10%;
	left: 40%;
}

.yellow {
	background-color: #FFFB47;
	width: 50%;
	height: 15%;
	top: 75%;
	left: 40%;
}
