.block {
    width: 80vw;
    height: 80vw;
    background-color: blue;
    position: relative;
    overflow: hidden;
} 
.text {
   color: white;
   position: absolute;
   top: 0;
   left: 60%;
} 
.block:before {
    content: '';
    display: block;
    width: 160vw;
    height: 160vw;
    border-radius: 100%;
    background-color: green;
    border: 10px solid white;
    position: absolute;
    transform: translate(20%, -25%);
    box-shadow: 0 0 28px rgba(0,0,0,1);
}