body {
    margin: 8;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.archive {
    text-align: center;
    padding: 10px;
    background-color: #339966;
    border-radius: 10px;
    color: white;
}

.month {
    text-align: center;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    color: white;
    font-family: sans-serif;
    
}

.left {
    width: 0vmin;
    height: 0vmin;
    border:10px solid transparent;
    border-left: 10px solid green;
}

/*div div {*/
/*    float: left;*/
/*    padding: 10px;*/
/*    margin: 1px;*/
    
/*}*/

/*div:nth-child(7), div:nth-child(14), div:nth-child(21), div:nth-child(28) {*/
/*    float: none;*/
/*}*/